<head><p><%= link_to "All Dealerships", dealerships_path %></p><br>
<p><%= link_to "All Cars", cars_path %></p></head>
<br>
<a href="/dealerships/<%= @dealership.id %>/cars">Cars at this Dealership</a>

<h1><%= @dealership.name %></h1>
<p>Year Established: <%= @dealership.year_est %></p>
<p>Cars in stock?:<%=@dealership.has_stock %></p>
<p>Stock available: <%= @dealership.cars.size %></p>