<head><p><%= link_to "All Dealerships", dealerships_path %><br>
<%= link_to "All Cars", cars_path %></p></head>
<br>
<h1><%= link_to "#{@car.makemodel}", "/car" %> </h1>
Make & Model: <%= @car.makemodel %><br>
MPG: <%= @car.mpg %><br>
For Sale? <%= @car.for_sale %><br>
Yours for only: <%= @car.cost %><br>
<%= link_to "Delete #{@car.makemodel}", "/cars/#{@car.id}/delete",method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Update Car", "/cars/#{@car.id}/edit" %><br>